body,
html {
  font-family: 'Slabo 27px', serif;
}

nav {
  background-color: rgba(2, 1, 1, 0.88);
}

.card {
  .card-text {
    height: 110px;
    .card-title {
      line-height: 30px !important;
      font-size: 18px !important;
    }
  }
  .card-image img {
    height: 300px;
  }
}

ul.tabs-img-grid {
  width: 100%;
  display: flex;
  position: relative;
  height: 48px;
  background-color: #fff;
  margin: 0 auto;
  width: 100%;
  white-space: nowrap;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  li {
    display: inline;
    cursor: pointer;
    padding: 20px;
  }
  li:hover {
    border: 1px solid #ec3600;
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }
}

.window-select {
  clear: both;
  z-index: 33;
}
